<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/controller.css">
<!--===============================================================================================-->
<style>
	.btn-primary {
	  font-size: 25px;
	  padding: 10px 30px;
	}
	</style>
	<style>
		.login100-form-logo {
		  margin-bottom: 25px;
		}
		</style>
		<style>
			.login100-form-title h3 {
			  font-size: 20px;
			  margin-top: 20px;
			  margin-bottom: 40px;
			  text-align: center;
			}
			</style>
			
			<style>
				.title {
				  font-size: 48px;
				  font-weight: bold;
				  color: #fff;
				  text-align: center;
				  text-shadow: 2px 2px 4px #000000;
				  background-color: blue;
				  padding: 20px;
				}
			</style>
	</head>
	<body>
	<style>
    body {
        background: linear-gradient(to bottom, #7579ff, #b224ef);
        background-image: linear-gradient(to bottom, rgb(117, 121, 255), rgb(178, 36, 239));
        background-position: initial;
        background-size: initial;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    }
</style>

	</style>
		
		<h1 class="title">DEMAT MANAGEMENT SYSTEM</h1>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/login" method="GET">
					<span class="login100-form-logo">
					  <i class="zmdi zmdi-landscape"></i>
					</span>
					<div class="login100-form-title">
					  <h3>Choose Your Role</h3>
					</div>
					<button class="btn btn-primary" name="role" value="trader">Trader</button>
					<button class="btn btn-primary" name="role" value="broker">Broker</button>
					<button class="btn btn-primary" name="role" value="company">Company</button>
				  </form>
				  
				
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</html>
