<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/animsition/css/animsition.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <style>
    #symbol {
      position: absolute;
      top: 30px;
      right: 30px;
      padding: 10px;
      font-size: 44px;
      color: #f5f6f8;
      background-color: #f387e8;
    }
  </style>
  <body>
    <div class="limiter">
      <div
        class="container-login100"
        style="background-image: url('images/bg-01.jpg')"
      >
        <div class="wrap-login100">
          <form
            class="login100-form validate-form"
            action="/register"
            method="POST"
          >
            <span class="login100-form-logo">
              <i class="zmdi zmdi-landscape"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27"> Register </span>

            <div class="home-icon" id="symbol">
              <a href="/"><i class="fas fa-home"></i></a>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter PAN Number"
            >
              <input
                class="input100"
                type="text"
                name="pan_number"
                placeholder="PAN"
                required
                pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                oninvalid="this.setCustomValidity('Please enter a valid PAN number')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter First Name"
            >
              <input
                class="input100"
                type="text"
                name="first_name"
                placeholder="First Name"
                required
                pattern="[a-zA-Z]+"
                oninvalid="this.setCustomValidity('Please enter a valid first name')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Last Name"
            >
              <input
                class="input100"
                type="text"
                name="last_name"
                placeholder="Last Name"
                required
                pattern="[a-zA-Z]+"
                oninvalid="this.setCustomValidity('Please enter a valid last name')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Pincode"
            >
              <input
                class="input100"
                type="text"
                name="pincode"
                placeholder="Pincode"
                required
                pattern="[0-9]{6}"
                oninvalid="this.setCustomValidity('Please enter a valid 6-digit pincode')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf190;"></span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Password"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
                required
                pattern=".{8,}"
                oninvalid="this.setCustomValidity('Please enter a password with at least 8 characters')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Phone Number"
            >
              <input
                class="input100"
                type="text"
                name="phone_number"
                placeholder="Phone Number"
                required
                pattern="[0-9]{10}"
                oninvalid="this.setCustomValidity('Please enter a valid 10-digit phone number')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf2be;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Account Number"
            >
              <input
                class="input100"
                type="text"
                name="account_number"
                placeholder="Account Number"
                required
                pattern="[0-9]{10}"
                oninvalid="this.setCustomValidity('Please enter a valid 10-digit account number')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf19d;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter IFSC Code"
            >
              <input
                class="input100"
                type="text"
                name="ifsc_code"
                placeholder="IFSC Code"
                required
                pattern="[A-Z]{4}[0][A-Z0-9]{6}"
                oninvalid="this.setCustomValidity('Please enter a valid IFSC code')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf155;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter Bank Name"
            >
              <input
                class="input100"
                type="text"
                name="bank_name"
                placeholder="Bank Name"
                required
                pattern="[a-zA-Z]+"
                oninvalid="this.setCustomValidity('Please enter a valid bank name')"
                onchange="this.setCustomValidity('')"
              />
              <span class="focus-input100" data-placeholder="&#xf19c;"></span>
            </div>

            <div class="form-group">
              <label for="broker" class="col-form-label">Broker name:</label>
              <select name="broker" id="broker" class="form-control">
                <% for(let i = 0; i < brokerNames.length; i++) { %>
                <option value="<%= brokerNames[i] %>">
                  <%= brokerNames[i] %>
                </option>
                <% } %>
              </select>
            </div>
            

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" name="role" value="trader">
                Register
              </button>
            </div>
          </form>
          <div class="text-center p-t-90">
            <p class="txt1">Already have an account?</p>
            <a href="/login?role=trader"
              ><button class="btn btn-secondary">Login</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
  </body>
</html>
